<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8×4CGsO3+Hhxv8T/Q5PaXtkKtu6ug6fR8VVvA68emf2iqW5K0tftm42dXKp" crossorigin="anonymous">

    <link rel="stylesheet"  href="{% static 'css/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-q6E9RHvbIyZFJoft+2mJbHaEWlddO/c9U4zfqI5BmwBVuRsFiq2dB63Dg+GA9Axa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+ymGA6KDxMk8xN8fQ8bC0LJj2LqfWq53RIflL8KuhSXmgn5h5pg8voT8F" crossorigin="anonymous"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="font-weight: bold; color: blue; font-size: 24px;">SAKHAWAT ||</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login_app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login_app:logout' %}"> Logout <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
           

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login_app:register' %}"> Register <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'login_app:login' %}"> Login <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
             
          </ul>
        </div>
      </nav>

    <div class="container" style="padding-top:20px">
        {% block body_block %}
        <h1>{{ text }}</h1>
        {% endblock %}

    </div>


    <footer class="bg-dark text-white mt-5 p-4 text-center">
        <div class="container">
            <div class="row">
                <!-- About Me Link -->
                <div class="col-md-3">
                    <a href="#" class="text-white" style="text-decoration: none;">About Me</a>
                </div>
                
                <!-- Facebook Link -->
                <div class="col-md-3">
                    <a href="https://www.facebook.com" class="text-white" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </div>
                
                <!-- WhatsApp Link -->
                <div class="col-md-3">
                    <a href="https://wa.me/yourphonenumber" class="text-white" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                </div>
                
                <!-- LinkedIn Link -->
                <div class="col-md-3">
                    <a href="https://www.linkedin.com" class="text-white" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-linkedin-in"></i> LinkedIn
                    </a>
                </div>
            </div>
            <p class="mt-3">&copy; 2024 Sakhawat Hossain Sakib</p>
        </div>
      </footer>
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>      

</body>
</html>